mat-card {
    width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6); /* transparent white */
    backdrop-filter: blur(8px);            /* glass effect */
    -webkit-backdrop-filter: blur(8px);

    border-radius: 15px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 1px;
    
}

mat-card-content{
     max-height: 450px;   /* adjust as needed */
  overflow-y: auto;    /* scrollbar inside content */
  padding-right: 10px;
}
button {
    width: 100%;
}

.link-text{
    text-align: center;
}

.registration-control {
  min-height: 100vh;
  background-image: url('../assests/3.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
 

  display: flex;
  justify-content: center;
  align-items: center;
}
