<!-- <div class="approval-container">

  <h2>Manager Leave Approvals</h2>

  <div
    class="approval-card"
    *ngFor="let leave of leaveRequests">

    <p>
      <b>Employee:</b>
      {{ leave.employeeName }}
    </p>

    <p>
      <b>Leave Type:</b>
      {{ leave.leaveType }}
    </p>

    <p>
      <b>From:</b>
      {{ leave.startDate }}
    </p>

    <p>
      <b>To:</b>
      {{ leave.endDate }}
    </p>

    <p>
      <b>Status:</b>
      {{ leave.status }}
    </p>

    <div class="button-group">

      <button
        mat-raised-button
        color="primary"
        *ngIf="leave.status === 'PENDING'"
        (click)="approveLeave(leave.id)">

        Manager Approve

      </button>

      <button
        mat-raised-button
        color="warn"
        *ngIf="leave.status === 'PENDING'"
        (click)="rejectLeave(leave.id)">

        Manager Reject

      </button>

    </div>

  </div>

  <p
    class="empty-message"
    *ngIf="leaveRequests.length === 0">

    No leave requests found

  </p>

</div> -->


<div class="approval-container">

  <h2>Manager Leave Approvals</h2>

  <table
    class="approval-table"
    *ngIf="leaveRequests.length > 0">

    <thead>
      <tr>
        <th>Employee</th>
        <th>Leave Type</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let leave of leaveRequests">

        <td>{{ leave.employeeName }}</td>
        <td>{{ leave.leaveType }}</td>
        <td>{{ leave.startDate }}</td>
        <td>{{ leave.endDate }}</td>
        <td>
          <span class="status">
            {{ leave.status }}
          </span>
        </td>

        <td>

          <button
            mat-raised-button
            color="primary"
            *ngIf="leave.status === 'PENDING'"
            (click)="approveLeave(leave.id)">

            Approve

          </button>

          <button
            mat-raised-button
            color="warn"
            *ngIf="leave.status === 'PENDING'"
            (click)="rejectLeave(leave.id)">

            Reject

          </button>

        </td>

      </tr>

    </tbody>

  </table>

  <p
    class="empty-message"
    *ngIf="leaveRequests.length === 0">

    No leave requests found

  </p>

</div>