<!-- <div class="admin-page">

  <h2>All Departments</h2>

  <div
    class="department-card"
    *ngFor="let department of departments">

    <h3>{{ department.departmentName }}</h3>

    <p>
      <b>Department ID:</b>
      {{ department.id }}
    </p>

  </div>

</div> -->


<div class="admin-page">

  <h2>All Departments</h2>

  <table
    class="departments-table"
    *ngIf="departments.length > 0">

    <thead>
      <tr>
        <th>Department ID</th>
        <th>Department Name</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let department of departments">

        <td>{{ department.id }}</td>

        <td>{{ department.departmentName }}</td>

      </tr>

    </tbody>

  </table>

  <p
    class="empty-message"
    *ngIf="departments.length === 0">

    No departments found.

  </p>

</div>