<!-- <div class="admin-page">

  <h2>Audit Logs</h2>

  <div
    class="audit-card"
    *ngFor="let log of auditLogs">

    <h3>{{ log.action }}</h3>

    <p><b>Log ID:</b> {{ log.id }}</p>
    <p><b>Entity Name:</b> {{ log.entityName }}</p>
    <p><b>Employee ID:</b> {{ log.entityId }}</p>
    <p><b>Performed By:</b> {{ log.performedBy }}</p>
    <p><b>Created At:</b> {{ log.createdAt }}</p>

  </div>

</div> -->

<div class="admin-page">

  <h2>Audit Logs</h2>

  <table
    class="audit-table"
    *ngIf="auditLogs.length > 0">

    <thead>
      <tr>
        <th>Log ID</th>
        <th>Action</th>
        <th>Entity Name</th>
        <th>Entity ID</th>
        <th>Performed By</th>
        <th>Created At</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let log of auditLogs">

        <td>{{ log.id }}</td>

        <td>
          <span class="action-badge">
            {{ log.action }}
          </span>
        </td>

        <td>{{ log.entityName }}</td>

        <td>{{ log.entityId }}</td>

        <td>{{ log.performedBy }}</td>

        <td>{{ log.createdAt }}</td>

      </tr>

    </tbody>

  </table>

  <p
    class="empty-message"
    *ngIf="auditLogs.length === 0">

    No audit logs found.

  </p>

</div>