
<!-- <h2 style="text-align: center;">Employee Dashboard</h2>

<h2>Welcome {{employeeName}}</h2>



<mat-card *ngIf="balance">

  <h3>Leave Balance</h3>

  <p>
    Allocated Days:
    {{ balance.allocatedDays }}
  </p>

  <p>
    Used Days:
    {{ balance.usedDays }}
  </p>

  <p>
    Remaining Days:
    {{ balance.remainingDays }}
  </p>

  

  <div style="text-align:right">

<button
mat-raised-button
color="warn"
(click)="logout()">

Logout

</button>

</div>


<div class="dashboard-container">

  <app-leave-balance></app-leave-balance>

  <app-apply-leave></app-apply-leave>

  <app-leave-history></app-leave-history>

</div> -->


<div class="dashboard-header">
  <h1>Invenio Business solutions</h1>
    
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <div class="employee-profile">
     
        <mat-icon> account_circle</mat-icon>
        <span>
            Welcome {{employeeName}}
        </span>
        <button
          mat-raised-button
          color="warn"
          (click)="logout()">
          <mat-icon>logout</mat-icon>
            Logout
          </button>
           <app-notification-bell></app-notification-bell>

     </div>
  <h2></h2>

  
</div>

<div class="dashboard-grid">

  <div class="left-panel">
    <app-leave-balance></app-leave-balance>
  </div>

  <div class="right-panel" >
    <app-apply-leave></app-apply-leave>
  </div>

</div>
<div
  class="history-dialog-backdrop"
  *ngIf="showLeaveHistoryDialog">

  <div class="history-dialog">

    <div class="dialog-header">

      <h2>Leave History</h2>

      <button
        mat-raised-button
        color="warn"
        (click)="closeLeaveHistoryDialog()">
        Close
      </button>

    </div>

    <app-leave-history
      *ngIf="showLeaveHistoryDialog">
    </app-leave-history>

  </div>

</div>

